<a href="https://colab.research.google.com/github/Hyuncastl/MACHINE_LEARNING/blob/main/2%EC%A3%BC%EC%B0%A83_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Data_type*

In [ ]:
a = 3
b = 7.9
c = "Hello"

# 새 섹션

In [1]:
 type(a)

NameError: ignored

In [ ]:
 type(b)

입력과 출력
input() print()

In [ ]:
 a = input()

In [ ]:
print("{}".format(a))

In [ ]:
type (a)

In [ ]:
str1 = "Hello"

In [ ]:
str1[3]

In [ ]:
dict1 = {"name":"kim","age": "20"}

In [ ]:
dict1.keys()

In [ ]:
dict1.items()

In [ ]:
dict1.values()

In [ ]:
x = 3
y = 7
z = 11

In [ ]:
div = z/x

In [ ]:
round(div,4)

In [ ]:
z//x

In [ ]:
z%x

In [ ]:
if x<3:
  print("True")
else:
  print("False")

In [ ]:
x1 = int(input())

In [ ]:
if x1% 2 == 0:
  print("짝수{}".format(x1))
else:
    print("홀수수{}".format(x1))

In [ ]:
x2 = int(input())
if 90 <= x2 <=100 :
  print("A:{}".format(x2))
elif 80 <= x2 < 90 :
  print("B:{}".format(x2))
elif 70 <= x2 < 80 :
   print("C:{}".format(x2))
elif 60 <= x2 < 70 :
   print("D:{}".format(x2))
else :
   print("F:{}".format(x2))

In [ ]:
pw = input()
if pw == "Abcd!#12":
  print("일치{}".format(pw))
else :
  print("불일치{}".format(pw))

윤년

# 윤년

In [6]:
a = int(input("연도를 입력하시오 : "))

if a%4 == 0:
  if a%100 == 0:
    if a%400 == 0:
      print("{}년은 윤년입니다.".format(a))
    else:
        print("{}년은 평년입니다.".format(a))
  else:
      print("{}년은 윤년입니다.".format(a))
else:
  print("{}년은 평년입니다.".format(a))

연도를 입력하시오 : 2000
2000년은 윤년입니다.

# 띠 계산

In [10]:
str_input = input("태어난 해 입력 : ")
year = (int(str_input))%12

if year == 0:
  print("원숭이 띠")
elif year == 1:
  print("닭 띠")
elif year == 2:
  print("개 띠")
elif year == 3:
  print("돼지 띠")
elif year == 4:
  print("쥐 띠")
elif year == 5:
  print("소 띠")
elif year == 6:
  print("호랑이 띠")
elif year == 7:
  print("토끼 띠")
elif year == 8:
  print("용 띠")
elif year == 9:
  print("뱀 띠")
elif year == 10:
  print("말 띠")
elif year == 11:
  print("양띠")

태어난 해 입력 : 2000
용 띠