<a href="https://colab.research.google.com/github/Hyuncastl/MACHINE_LEARNING/blob/main/3_20_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 반복문

for문
EX) for i in range(10): 
      print(i)
집합명.append() 더하기
집합명.remove() 제외하기

while문


3주차 과제
while, append  필요하면 break continue remove 사용
1. 소수(약수가 1포함 자기 자신) 판단 7/2!=0 7/3!=0
2. 입력 받은 수의 약수 찾기 
3. 입력 받은 수의 소인수 찾기 
4. 입력 받은 두 수의 최대공약수 찾기 LCM
5. 입력 받은 두 수의 최소공배수 찾기 GCM

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=[]
for i in range(1,4):
  a.append(i)
  print(a)
  b=[]
for i in range(4,7):
  b.append(i)
  print(b)
  c=[]
for i in range(3,6):
  c.append(i)
  print(c)

[1]
[1, 2]
[1, 2, 3]
[4]
[4, 5]
[4, 5, 6]
[3]
[3, 4]
[3, 4, 5]

In [ ]:
U1 = a+b
U2 = a+c

A= []
for i in a:
  if i in b:
    A.append(i)
print(A)

A= []
for i in a:
  if i in c:
    A.append(i)
print(A)

A= []
for i in a:
  if i not in c:
    A.append(i)
print(A)

[]
[]
[1, 2, 3]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[3,4,5]

o=[]
for i in a:
  if i  not in c:
    o.append(i)
print(o)

o=[]

for i in b:
  if i  not in c:
    o.append(i)
print(o)

o=[]

for i in c:
  if i  not in b:
    o.append(i)
print(o)

[1, 2]
[6]
[3]

In [ ]:
while True:
    print("ID:\n")
    num = input()
    if num == "1234":
        print("성공\n")
        break
    else:
        print("실패")
        continue

ID:

1234
성공

In [ ]:
x=1
while x < 10:
  sum = 3*x
  print("{}X{}={}".format(3,x,sum))
  x+=1

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27

In [ ]:
import random

In [ ]:
num_range = range(1,46)

num_list = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
random.shuffle(num_list)
print(num_list)

[37, 21, 16, 44, 4, 28, 40, 6, 3, 7, 19, 34, 14, 38, 29, 1, 39, 24, 5, 42, 23, 10, 31, 12, 11, 26, 15, 8, 9, 2, 30, 17, 20, 43, 22, 18, 36, 41, 25, 13, 32, 45, 33, 35, 27]

In [ ]:
A=[]
while len(A)<6:
  random.shuffle(num_list)
  num_seclected = num_list[0]
  A.append(num_seclected)
A.sort()
A

[3, 4, 16, 19, 24, 40]

In [ ]:
A=[]
while True:
  e = round(random.random(),3)
  A.append(e)
  if len(A)<5:
    break
print(A)

[0.314]

In [ ]:
import random
num=0
while num<10:
  a = random.randrange(0,30,5)
  num+=1
print(a)

15

#소수

In [39]:
num = int(input("'2'이상의 양수를 입력하시오: "))
prime_num = []
prime_num2=[]
a = True
for i in range(2,num):
  if(num%i == 0):
    prime_num.append(i)
#print(prime_num)

for k in range(2,i):
  if(i%k == 0):
    a=False
    break
    if(a==True):
      prime_num2.append(i)
      a = True
print(prime_num2)

'2'이상의 양수를 입력하시오: 6
[]

#약수

In [44]:
num = int(input("약수 찾는 프로그램:'2'이상의 양수를 입력하시오: "))
divisor = [num]
for i in range(1,num):
  if(num%i == 0):
    divisor.append(i)   
print(divisor)

약수 찾는 프로그램:'2'이상의 양수를 입력하시오: 66
[66, 1, 2, 3, 6, 11, 22, 33]

# 소인수

In [49]:
num = int(input("양수를 입력하시오: "))
prime_factor = [num]
for i in range(1,num):
  if(num%i == 0):
   prime_factor.append(i)
print(prime_factor)

양수를 입력하시오: 55
[55, 1, 5, 11]

# 최대공약수,최소공배수

In [58]:
num1 = int(input("양수를 입력하시오: "))
num2 = int(input("양수를 입력하시오: "))
LCM = []
GCM = []
for i in range(2,num1+1):
  if(num1%i == 0) and (num2%i == 0):
    LCM.append(i)
    result = i

print(result)

양수를 입력하시오: 20
양수를 입력하시오: 10
10

In [60]:
mul = num1*num2
GCM= mul/result
print(GCM)

20.0